<!-- completed.ejs -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Concluído</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Adicione aqui qualquer link ou referência ao Bootstrap, se necessário -->
    <style>
        /* Estilos personalizados */
        .container {
            margin-top: 50px;
        }
        .xd img{
            width: 1000px;
            height: 500px;
            
        }
        
        </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Cadastro Realizado</h1>
        <p class="text-center">Cadastro realizado com sucesso!</p>
        <a href="/usuarios" class="btn btn-primary">Ver Usuários</a>
    </div>
    <div class="xd"><a href="https://ibb.co/HPk4nmD"><img src="https://i.ibb.co/94CgsR9/IMG-20240229-WA0013.jpg" alt="IMG-20240229-WA0013" border="0"></a>
        <h2> Leonardo Fernandes Perdeu Tudo e começou a dar aula Para estradas</h2>
    </div>
   
</body>
</html>
